/* FONTS */

@font-face {
    font-family: "glowy";
    src: url('../fonts/brillante.ttf');
}

@font-face {
    font-family: "film";
    src: url('../fonts/film_letters.ttf');
}

@font-face {
    font-family: "film_fill";
    src: url('../fonts/film_letters_filled.ttf');
}

@font-face {
    font-family: "neon";
    src: url('../fonts/neon.ttf');
}

.glowy {font-family: "glowy";}
.film {font-family: "film";}
.film_fill {font-family: "film_fill";}
.neon {font-family: "neon";}

/* SPECIALS */

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.transition {
    transition: all 0.3s ease;
}

body {
    width: calc(100% - 36px);
    height: calc(100vh - 36px);
    margin: 8px;
    border: 6px solid black;
    padding: 4px;
}

header {
    position: fixed;
    top: 18px;
    left: 18px;
    height: 50px;
    width: calc(100% - 36px);
    background-color: #000000BB;
    z-index: 1;
}

header > h1 {
    margin: 0;
    text-align: center;
    color: pink;
    height: 35px;
    box-shadow: red 0px 7px 7px;
    filter: drop-shadow(15px 15px 10px pink);
    font-size: 23px;
    letter-spacing: 9px;
    top: 10px;
    position: relative;
}

.white-mask {
    background-color: white;
    position: absolute;
    height: calc(100vh - 36px);
    width: calc(100vw - 36px);
    top: 0;
    left: 0;
}

.black-mask {
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
    background-image: linear-gradient(180deg, #000, #111);
    background-image: url(../pics/banner.jpg);
    filter: saturate(1.5) brightness(0.7) hue-rotate(-20deg);
    z-index: -1;
}

.main-nav {
    position: relative;
    margin-top: 50px;
    height: 60px;
    z-index: 0;
    background-color: #000000BB;
}

.nav-links {
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 1;
    text-align: center;
}

.nav-links > li {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 17px;
    font-family: "glowy";
    margin: 20px 10px;
    letter-spacing: 1px;
}

.nav-links > li:hover {
    letter-spacing: 3px;
}

.nav-link {
    padding: 1px;
    border-bottom: 1px solid white;
}

.nav-link:hover {
    padding: 3px;
    border-bottom-width: 3px;
}

.main-nav .glow-border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    border-bottom: 5px solid #3ecae8;
    filter: blur(2px);
}

.main-content {
    font-size: 0;
}

main.main, aside.main {
    background-color: #000000BB;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 151px);
    min-height: calc(100vh - 151px);
    max-height: calc(100vh - 151px);
}

main {
    width: 70%;
}

aside {
    width: 30%;
}

aside.main div.search {
    margin: 10px 0;
}

aside.main div.search label {
    font-size: 13px;
    padding: 5px 2px;
    color: white;
    margin: 5px 0;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
}

aside.main div.search input {
    margin-top: 15px;
    border-radius: 14px;
    width: 90%;
    box-shadow: none;
    border: none;
    padding: 5px 7px;
    background-image: linear-gradient(135deg, rgba(255, 192, 203, 0.3), rgba(70, 130, 180, 0.3));
}

aside.main div.search input::placeholder {
    text-align: center;
}
